#container{
    width: 1140px;
    background-color:brown;
}

#blog-post-container{
    width: 75%;
    background-color: grey;
}

#others-posts{
    background-color: bisque;
    width: 25%;
}

#author-box{
    border: 3px solid blue;
}